.meeting_box{
    width:100%;
    height:92vh;
    background-color: #f2f6fa;
    background-attachment: fixed;
    background-size: cover;
    /*background-image: url('https://images.pexels.com/photos/374897/pexels-photo-374897.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');*/
}

.box_cardTable{
    padding-top: 50px;
}
.textoDelete{
  text-align: start;
  display: flex;
  justify-content: center;
}

.cardConteidoTable{
  width: 80%;
  min-width: 320px;
  margin: 0px auto;
}
