.cardProfile{
  margin-bottom: 10px;

}

.title {
  display: flex;
  align-items:flex-start;
  margin-left: 15px;
}

.textTitle{
  font-size: 19px;
  margin-bottom: 5px;
}

.cardAvatar{
  display: flex;
  align-items:center;
  flex-direction: column;
}
