.tareas_box{
    width:100%;
    height:100vh;
    background-attachment: fixed;
    background-color: #f2f6fa;

    background-size: cover;

    /*background-image: url('https://images.pexels.com/photos/374897/pexels-photo-374897.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');*/
}

.cardContenido{
    width: 80%;
    min-width: 320px;
    margin: 0px auto;

}
.box_card{
    padding-top: 50px;
}
.column-Delete{
  width: 25px;


}
.column-Edit{
  width: 25px;


}
