.meetings-container{
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:3px 1%
}
.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}
.searchTerm:focus{
  color: #00B4CC;
}
.taskTerm {
  width: 70%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}
.taskTerm:focus{
  color: #00B4CC;
}
.fileTerm {
  width: 62%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}
.fileTerm:focus{
  color: #00B4CC;
}

.muro{
  width: 100%;
  height: 400px;
  max-height: 500px;
}
.Btns{
  width: 100%;
  position: absolute;
  top: 167px;
  display: flex;
  justify-content: center;
}
