.perfil-container{
  width: 57%;
  margin: 0 auto;
  padding-top: 40px;
}
.DetailUserName{
color: black;
font-size: 3em;
margin: 0px;
}
.Tablemeeting-container{
  width:100%;
  height:92vh;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('https://images.pexels.com/photos/374897/pexels-photo-374897.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
}
