.styleButton {
    margin: 50px 0px 0px 0px;
}

.textFieldStyle {
    margin: 5px 0px
}

.formStyle {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    textAlign: center;
    margin-top: 7%;
    margin-bottom: 7%;

}

#car {

    width: 33vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;

}

#todo{
    padding-top: 3%;
    padding-bottom: 7%;
    background-image: url("../../img/bg.jpg");
}

h1{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

