@import './components/login/Form.css';
@import './components/tasks/tasks.css';
@import './components/nav/Nav.css';
@import './components/register/register.css';
@import './components/calendar/Calendar.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
