.selected{
    background-color: darkorange;
    color:blue;
}
.titleNav{
  display: flex;
  justify-content:flex-end;
  font-size: 20px;
    background-color: #ffa726;
}
.botonesNav{
  color: rgb(255, 255, 255) !important;
}
